$black: #373737;
$background: #F1F4FF;
$borderColor: #D2DDFF;
$white: #fff;
$primary: #4294FF;
$gray: #00000066;
$red: rgb(215, 36, 8);

$borderRadius: 5px;

:root {
    font-family: 'Ubuntu', sans-serif;
    color: $black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

.main-title {
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 0.84px;
    color: $black;
}

.btn {
    font-weight: 500;
    font-size: 18px;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $borderRadius;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &--main {
        color: $white;
        background-color: $primary;

        &:hover {
            background-color: #176cdb;
        }
    }
}

p{
    margin: 0;
}

.login {
    display: flex;
    width: 100%;
    min-height: 100vh;

    &__left {
        background-color: $background;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    &__right {
        width: 50%;
        object-fit: contain;
    }

    &__box {
        background-color: $white;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: $borderRadius;
        border: 1px solid $borderColor;
        max-width: 516px;
        width: 100%;
        padding: 0 15px;
    }

    &__logo {
        margin-top: 45px;
        margin-bottom: 66px;
    }

    &__text {
        margin-bottom: 60px;
        margin-top: 65px;
        text-align: center;
    }

    &__link {
        font-weight: 500;
        text-decoration: underline;
        color: $black;
    }

    &__btn {
        margin-top: 42px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        margin-top: 48px;
        margin-bottom: 20px;
    }

    &__error {
        color: $red;
        text-align: center;
        font-weight: 500;
        background-color: #ff060626;
        padding: 14px;
        border-radius: $borderRadius;
    }
}

@media only screen and (max-width: 1200px) {
    .login {
        &__box {
            max-width: 400px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .login {
        &__left {
            width: 100%;
        }

        &__right {
            display: none;
        }
    }
}

.input-border {
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    position: relative;
    max-width: 333px;
    width: 100%;
    min-height: 42px;
    margin-bottom: 30px;
    margin-top: 30px;

    &__wrapper {
        display: flex;
        gap: 14px;
        position: absolute;
        left: 14px;
        top: 12px;
        pointer-events: none;
    }

    &__label {
        color: $gray;
        font-weight: 500;
        letter-spacing: 0.64px;
        text-transform: uppercase;
        transition: all 0.3s ease;
    }

    &__input {
        padding-left: 44px;
        border: none;
        width: 100%;
        height: 100%;
        min-height: 42px;
        border-radius: $borderRadius;

        &:focus {
            outline: 1px solid $primary;
        }
    }
}

@media only screen and (max-width: 992px) {
    .input-border {
        &__wrapper {
            top: 15px;
        }

        &__label {
            font-size: 12px;
        }
    }
}

//if input is focused then label should be above input
.input-border__input:focus+.input-border__wrapper label {
    transform: translate(-40px, -30px);
    font-size: 12px;
    color: $primary;
}

//if input have content then label should be above input
.input-border__input:not(:placeholder-shown)+.input-border__wrapper label {
    transform: translate(-40px, -30px);
    font-size: 12px;
}

.welcome {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    flex-direction: column;
    min-height: 80vh;

    &__title {
        margin-bottom: 15px;
    }

    &__heading {
        margin-bottom: 50px;
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
    }

    &__or {
        margin-top: 36px;
        font-size: 18px;
        font-weight: 700;
    }

    &__wrapper {
        width: 100%;
        display: flex;
        gap: 4vw;
        justify-content: center;
    }

    &__side {
        max-width: 373px;
        padding: 20px;
        background-color: $background;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__or {
            margin: 0;
        }
    }
}

.kanban{
    display: flex;
    gap: 20px;
    &__column{
        max-width: 350px;
        width: 25%;
        background-color: $background;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
    }
    &__title{
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.8px;
        text-transform: uppercase;
        text-align: center;
        padding: 5px;
    }
    &__list{
       padding: 8px;
        margin: 0;
        list-style-type: none;
    }
}

.task-card{
    margin-bottom: 8px;
    background-color: $white;
    border: 1px solid $borderColor;
    border-radius: $borderRadius;
    padding: 16px 20px;
    &__title{
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.72px;
        margin-bottom: 14px;
        margin-top: 0;
    }
    &__labels{
        display: flex;
        gap: 5px;
        padding: 0;
        list-style-type: none;
    }
    &__label{
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.56px;
        text-transform: uppercase;
        background: #D9365D;
        color: $white;
        border-radius: $borderRadius;
        width: fit-content;
        padding: 2px 12px;
    }
    &__bottom{
        font-size: 14px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 16px;
    }
}

.due-to-date{
    display: flex;
    gap: 8px;
}

.layout{
    display: flex;
    gap: 30px;
    min-height: 100vh;
}

.sidebar{
    max-width: 315px;
    width: 100%;
    background-color: $background;
    border: 1px solid $borderColor;
    padding: 15px;
    display: flex;
    justify-content: center;
    &__container{
        max-width: 200px;
        width: 100%;
    }
    &__logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4vw;
        margin-bottom: 10vw;
    }
}

.menu{
    &__element{
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.72px;
        display: flex;
        gap: 12px;
        margin-bottom: 14px;
        align-items: center;
        margin-top: 26px;
    }
    &__submenu{
        max-height: 0px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        list-style-type: none;
        border-left: 3px solid $borderColor;
        margin-left: 10px;
        padding-left: 24px;
        letter-spacing: 0.56px;
        &--visible{
            max-height: 400px;
        }
        li{
            font-weight: 300;
            &:not(&:last-child){
                margin-bottom: 12px;
            }
        }
    }
}

.main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    max-width: 1390px;
    width: 100%;
}